.App {
  text-align: center;
}

.Header {
  text-align: center;
  background-color: #61f809;
}

.Footer {
  text-align: center;
  background-color: #d7e684;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


